<app-auth-bg-template>
  <ng-container cardHeader>
    <span class="text-header">ลืมรหัสผ่าน</span>
    <span>กรุณากรอกอีเมลของคุณ เพื่อเปลี่ยนรหัสผ่าน</span>
  </ng-container>
  <ng-container cardBody>
    <form id="formForgotPassword" [formGroup]="forgotPassword" (ngSubmit)="onSubmit()" novalidate>
      <label for="login-email" class="form-label">อีเมล</label>
      <input type="email" class="form-control form-control-lg" id="login-email" name="email"
        placeholder="กรุณากรอกข้อมูล" formControlName="email"
        [ngClass]="{ 'is-invalid': form['email'].hasError('email') }" />
      <div *ngIf="form['email'].hasError('email')" class="invalid-feedback">
        กรอกอีเมลไม่ถูกต้อง
      </div>

    </form>
  </ng-container>
  <ng-container cardFooter>
    <button form="formForgotPassword" class="btn-submit w-100 mt-3" type="submit"
      [disabled]="submitted||forgotPassword.value.email == ''">
      <span *ngIf="submitted" class="spinner-border spinner-border-sm" role="status"></span>
      {{'ยืนยัน'}}
    </button>
  </ng-container>
</app-auth-bg-template>