.password-conditional-text
{
  color: #8A9FAB;
}

.password-success-text{
    color: #63BE00;
}

.text-line{
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
}

img{
    width: 18px;
    height: 18px

}