<app-auth-bg-template>
    <ng-container cardBody>
        <span class="text-header text-center mb-4">เปลี่ยนรหัสผ่านใหม่</span>

        <form id="formChangePassword" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" novalidate>
            <label for="password" class="form-label">รหัสผ่าน</label>
            <div class="input-group mb-2">
                <input [type]="password" id="password" class="form-control form-control-lg border border-end-0"
                    placeholder="กรุณากรอกข้อมูล" formControlName="password" minlength="8" maxlength="16"
                    [ngClass]="{ 'is-invalid text-danger border-danger': form['password'].invalid && (form['password'].touched || form['password'].dirty) || (formValidated && !passwordMatched) || oldPasswordError == 'Otp Expired' }">
                <span class="input-group-text bg-transparent border border-start-0" id="basic-addon2"
                    [ngClass]="{ 'is-invalid border-danger': form['password'].invalid && (form['password'].touched || form['password'].dirty) || (formValidated && !passwordMatched)||oldPasswordError == 'Otp Expired' }"
                    (click)="onShowPassword()">
                    <img src="../../../../assets/icon/show_pw_ic.svg" alt="show password" *ngIf="showPassword">
                    <img src="../../../../assets/icon/hide_pw_ic.svg" alt="hide password" *ngIf="!showPassword">
                </span>
            </div>

            <!-- Confirm Password -->
            <div class="mb-4 mt-2">
                <label for="confirm-password" class="form-label">ยืนยันรหัสผ่าน</label>
                <div class="input-group mb-1">
                    <input [type]="confirmPassword" id="confirm-password"
                        class="form-control form-control-lg border border-end-0" placeholder="กรุณากรอกข้อมูล"
                        formControlName="confirmPassword" minlength="8" maxlength="16"
                        [ngClass]="{ 'is-invalid text-danger border-danger': form['confirmPassword'].invalid && (form['confirmPassword'].touched || form['confirmPassword'].dirty) || (formValidated && !passwordMatched) }">
                    <span class="input-group-text bg-transparent border border-start-0" id="basic-addon2"
                        [ngClass]="{ 'is-invalid border-danger': form['confirmPassword'].invalid && (form['confirmPassword'].touched || form['confirmPassword'].dirty) || (formValidated && !passwordMatched) }"
                        (click)="onShowConfirmPassword()" (keyup.enter)="doBlur($event)">
                        <img src="../../../../assets/icon/show_pw_ic.svg" alt="show password"
                            *ngIf="showConfirmPassword">
                        <img src="../../../../assets/icon/hide_pw_ic.svg" alt="hide password"
                            *ngIf="!showConfirmPassword">
                    </span>
                </div>
                <div *ngIf="form['confirmPassword'].dirty && form['password'].valid && !passwordMatched" class="mb-3"
                    style="color: #DB0000;">
                    รหัสผ่านไม่ตรงกัน
                </div>
            </div>

            <!-- Condition -->
            <label class="form-label mb-2">เงื่อนไขการตั้งรหัสผ่าน</label>
            <ng-container *ngIf="changePasswordForm.controls['password'].dirty else displayCondition">
                <div class="ms-3"
                    [ngClass]="formHasError('password', 'hasCapitalCase') ? 'password-conditional-text' : 'password-success-text'">
                    <img *ngIf="!formHasError('password', 'hasCapitalCase') else inValidCheck"
                        src="./assets/icon/checkValid_ic.svg" alt="Check-valid">&nbsp;
                    <span class="text-line"> พิมพ์ใหญ่อย่างน้อย 1 ตัวอักษร</span>
                </div>
                <div class="ms-3"
                    [ngClass]="formHasError('password', 'hasSmallCase') ? 'password-conditional-text' : 'password-success-text'">
                    <img *ngIf="!formHasError('password', 'hasSmallCase') else inValidCheck"
                        src="./assets/icon/checkValid_ic.svg" alt="Check-valid">&nbsp;
                    <span class="text-line"> พิมพ์เล็กอย่างน้อย 1 ตัวอักษร</span>
                </div>
                <div class="ms-3"
                    [ngClass]="formHasError('password', 'hasNumber') ? 'password-conditional-text' : 'password-success-text'">
                    <img *ngIf="!formHasError('password', 'hasNumber') else inValidCheck"
                        src="./assets/icon/checkValid_ic.svg" alt="Check-valid">&nbsp;
                    <span class="text-line"> ตัวเลขอย่างน้อย 1 ตัวอักษร</span>
                </div>
                <div class="ms-3"
                    [ngClass]=" formHasError('password', 'minlength') || formHasError('password', 'maxlength') ? 'password-conditional-text' : 'password-success-text' ">
                    <img *ngIf="!(formHasError('password', 'minlength') || formHasError('password', 'maxlength')) else inValidCheck"
                        src="./assets/icon/checkValid_ic.svg" alt="Check-valid">&nbsp;
                    <span class="text-line"> รหัสผ่านต้องมีอย่างน้อย 8-16 ตัวอักษร</span>
                </div>
            </ng-container>
            <ng-template #displayCondition>
                <div class="password-conditional-text ms-3" *ngFor="let condition of listCondition">
                    <ng-container *ngTemplateOutlet="inValidCheck"></ng-container>&nbsp;<span class="text-line">
                        {{condition}}</span>
                </div>
            </ng-template>
            <ng-template #inValidCheck>
                <img src="./assets/icon/checkInvalid_ic.svg" alt="Check invalid">
            </ng-template>
        </form>
    </ng-container>
    <ng-container cardFooter>
        <button form="formChangePassword" class="btn-submit w-100 mt-4" type="submit"
            [disabled]="submitted||changePasswordForm.invalid">
            <span *ngIf="submitted" class="spinner-border spinner-border-sm" role="status"></span>
            {{'เปลี่ยนรหัสผ่าน'}}
        </button>
    </ng-container>
</app-auth-bg-template>