.template-body {
 background-image: url('../assets/images/auth_bg.png');
 background-size: cover;
 background-repeat: no-repeat;
 height: 100vh;
}

.container{
    height: 100%;
    align-content: center;
}

.card{
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
    background-color: #fff !important;
    border-radius: 16px;

    //padding: 2em;
}

.card-header, .card-footer{
        border-color: #fff;
        background-color: #fff ;
        border-radius: 16px;
}

.card-header{
    margin-top: 6%;
    padding-top: 3rem 3rem;
    text-align: center;
}

.card-body{
     margin: 0 6%;
}

.card-footer{
    margin:3% 5% 5% 5%;
}
