.btn-submit{
    background-color: #005FBC;
    border-radius: 8px;
    border: #005FBC;
    color: #fff;
    padding: 11px;
    font-weight:700;
    font-size: 14px;
    line-height: 23px;
    
    &:hover{
        opacity: 0.8;
    }

    &:disabled{
        background-color: #EAF0F5;
        color: #8A9FAB;
    }
}