.sweet_confirmbuttonImportant{
    width: 200px;
    border-radius: 15px;
}

.swal-wide{
    width: 684px !important;
    height: auto;
    overflow-y: hidden;
     padding: 40px 24px 48px 24px;
    border-radius: 16px;
}

.htmlContainer{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    color:#5A6E7B;
}