a {
  color: #EAF0F5 !important;
  cursor: pointer;
}

:host::ng-deep .card-body
{
  padding: 0 0 40px 0 !important;
  margin: 0 50px 0 50px !important;
}

:host::ng-deep .card-footer
{
  display: none !important;
}
