<app-auth-bg-template>
    <ng-container cardHeader>
        <h2 class="check-mail-header fw-bold">ตรวจสอบอีเมล</h2>
    </ng-container>
    <ng-container cardBody>
      <div class="text-center">
        <p class="col-md-12 mb-1">ระบบได้ส่งข้อความไปยังอีเมล {{refEmail}} </p>
        <p class="col-md-12">กรุณาตรวจสอบอีเมล เพื่อเปลี่ยนรหัสผ่าน</p>
      </div>
    </ng-container>
    <ng-container underCard>
        <div class="d-flex justify-content-center mt-3">
            <a (click)="backToLogin()"><u>กลับไปสู่หน้าหลัก</u></a>
        </div>
    </ng-container>
</app-auth-bg-template>
